<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.faadev.ceria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".screen.activity.WithdrawActivity"
            android:exported="false" />
        <activity
            android:name=".screen.activity.DetailTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".screen.activity.PaymentConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".screen.activity.DepositActivity"
            android:exported="false" />
        <activity
            android:name=".screen.activity.DetailPostActivity"
            android:exported="false" />
        <activity
            android:name=".screen.activity.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".screen.activity.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".screen.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.faadev.ceria"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>